matplotlib==3.5.0       # Uses PSF-License (MIT compatible)
numpy==1.21.4           # Uses BSD-License (MIT compatible)
scipy==1.7.2            # Uses BSD-like-License (MIT compatible)
pynrrd==0.4.2           # Uses MIT-License (MIT compatible)
scikit-image==0.18.3    # Uses BSD-License (MIT compatible)
xmltodict==0.12.0       # Uses MIT-License (MIT compatible)
h5py==3.6.0             # Uses BSD-License (MIT compatible)
pandas==1.3.4           # Uses BSD-License (MIT compatible)
Sphinx==4.3.0           # Uses BSD-License (MIT compatible)
m2r2==0.3.1             # Uses MIT-License (MIT compatible)
mistune==0.8.4          # Uses BSD-License (MIT compatible)
coverage==6.1.2         # Uses Apache 2.0-License (MIT compatible)
Deprecated==1.2.13      # Uses MIT-License (MIT compatible)
torch==1.10.0           # Uses BSD-License (MIT compatible)
python-dotenv==0.19.2   # Uses BSD-License (MIT compatible)
ipasc-tool==0.1.3       # Uses BSD-License (MIT compatible)
requests==2.26.0        # Uses Apache 2.0-License (MIT compatible)
wget==3.2               # Is Public Domain (MIT compatible)
sphinx-rtd-theme==1.0.0 # Uses MIT-License (MIT compatible)
jdata==0.3.7            # Uses Apache 2.0-License (MIT compatible)