# Example path_config file. Please define all required paths for your simulation here.
# Afterwards, either copy this file to your current working directory, to your home directory,
# or to the SIMPA base directory, and rename it to path_config.env

SIMPA_SAVE_DIRECTORY=/workplace/data  # Path to a directory where all data will be stored. This path is always required.
MCX_BINARY_PATH=/workplace/mcx   # On Linux systems, the .exe at the end must be omitted. This path is required if you plan to run optical simulations.
MATLAB_BINARY_PATH=/path/to/matlab.exe  # On Linux systems, the .exe at the end must be omitted. This path is required if you plan to run acoustic simulations.
